basic-login/.DS_Store
basic-login/build/
basic-login/node_modules/
basic-login/src/.DS_Store
basic-login/src/controllers/.DS_Store


football-stats/build/
football-stats/node_modules/


maps/API-KEY
maps/dist/
maps/node_modules/


rrts/.DS_Store
rrts/node_modules/

rrts/.pnp
rrts/.pnp.js

rrts/coverage/

rrts/build/

rrts/.env.local
rrts/.env.development.local
rrts/.env.test.local
rrts/.env.production.local

rrts/npm-debug.log*
rrts/yarn-debug.log*
rrts/yarn-error.log*


rrts/build
rrts/tsconfig.json
rrts/node_modules


web-framework/dist
web-framework/.parcel-cache
web-framework/db.json
web-framework/node_modules/

sort-arrays/node_modules/

.DS_Store